@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&family=JetBrains+Mono:wght@400;500&family=Outfit:wght@400;600;700;900&family=Space+Grotesk:wght@400;500;600&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #ffffff;
    color: #166534;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}
